<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <title>Microblog Home</title>
</head>
<body>
    <h1>Hello, {{request.user.username }}</h1>
    <a href="{% url 'logout' %}">Logout</a>

    <form method="get" action="">
        <input type="text" name="q" placeholder="Search posts..." value="{{ query }}">
        <button type="submit">Search</button>
    </form>

    {% for post in posts %}
        <div>
            <p><img src="/static/img/cat-hacker.jpg" width="80px"></img><strong>{{ post.author.username }}:</strong> {{ post.content }}</p>
            {% if request.user.id == post.author.id or request.user.is_superuser %}
            <a href="{% url 'delete_post' post.id %}">Delete</a>
            {% endif %}
            {% if request.user.id == post.author.id %}
                <a href="{% url 'edit_post' post.id %}">Edit</a>
            {% endif %}
        </div>
    {% endfor %}
    <form method="post">
        {% csrf_token %}
        <textarea id="content" name="content" placeholder="Write your post here..."></textarea>
        </br>
        <div style="display: inline-flex; align-items: center;" >
            <button id="post-button" type="submit">Post</button>
            <div id="char-counter">0/280</div>
        </div>
    </form>
</body>
<script>
        document.addEventListener('DOMContentLoaded', function() {
            let textarea = document.getElementById('content');
            let charCounter = document.getElementById('char-counter');
            let postButton = document.getElementById('post-button');

            textarea.addEventListener('input', function() {
                let charCount = textarea.value.length;
                charCounter.textContent = `${charCount}/280`;

                if (charCount > 280) {
                    postButton.disabled = true;
                } else {
                    postButton.disabled = false;
                }
            });
        });
</script>
</html>
