body {
    margin-left: 20px;
    font-family: sans-serif;
    font-size: 18px;
}
button {
    background-color: #21c3ff;
    font-size: 18px;
    color: white;
    padding: 6px 11px;
    border-radius: 20px;
    border: 0;
}
button:hover {
    background-color: #049cd4;
}
button:disabled {
    background-color: #777777;
    cursor: not-allowed;
}
#char-counter {
    margin-left: 10px;
}
img, p {
    display: inline-block;
    vertical-align:middle;
    margin-right: 10px;
}
input {
    width: 50%;
    margin: 10px 0px;
    padding: 5px 5px;
    font-size: 16px;
    box-sizing: border-box;
}
textarea {
    width: 50%;
    height: 120px;
    padding: 5px 5px;
    box-sizing: border-box;
    font-size: 16px;
    font-family: sans-serif;
    resize: none;
}
a:link, a:visited {
    background-color: #21c3ff;
    color: white;
    padding: 6px 11px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 20px;
}     
a:hover, a:active {
    background-color: #049cd4;
}
